@model IEnumerable<Online_Help_Desk.Models.Staff>

<p>
    @Html.ActionLink("Create New Staff", "CreateStaff")
</p>
<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            FullName
        </th>
       
        <th>
            Level
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SUserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Level)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditInforStaff", new { id=item.SUserName }) |
            @Html.ActionLink("Details", "DetailsInfoStaffs", new { id=item.SUserName }) |
            @Html.ActionLink("Block", "BlockStaff", new { id=item.SUserName })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
