@model IEnumerable<Online_Help_Desk.Models.Admin>

@if (Session["UserName"] != null)
{
    <h3>Hello @Session["UserName"].ToString()</h3>
}

@foreach (var item in Model)
{

    <p>
        @Html.ActionLink("Change Password", "Edit", new { id = item.UserName })

    </p>
}

    <p>
        @Html.ActionLink("View List Register", "ViewListRegister")
    </p>
<p>
    @Html.ActionLink("View List Staff", "DetailListStaff")
</p>
<p>
    @Html.ActionLink("View List End-User", "DetailListUser")
</p>
