@model IEnumerable<Online_Help_Desk.Models.Enduser>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EUUserName)
        </th>
        
        
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EUUserName)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EUUserName }) |
            @Html.ActionLink("Details", "Details", new { id=item.EUUserName }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EUUserName })
        </td>
    </tr>
}

</table>
