@model IEnumerable<Online_Help_Desk.Models.Admin>

<h3>AAAAAAAAAAAAAaaa</h3>

<br />
@foreach (var item in Model)
{
    @Html.ActionLink("Change Password", "Edit", "Admin", new { id = item.UserName })
}
<p>
    @Html.ActionLink("View List Staff", "", "")
</p>
<p>
    @Html.ActionLink("View List End-User", "", "")
</p>
<p>
    @Html.ActionLink("View List Register", "", "")
</p>
@Html.ActionLink("Change Password", "Edit", "Admin")